@model CustomerWithOrdersViewModel

<ul class="list-group">
    <li class="list-group-item">Order Id = @Model.OrderId</li>
    <li class="list-group-item">Order Date = @Model.OrderDate</li>
    <li class="list-group-item">Freight Charges = @Model.Freight</li>
    <li class="list-group-item">Employee Name = @Model.FirstName</li>
    <li class="list-group-item">Customer Name = @Model.ContactName</li>
</ul>