@model DataFirstProject.Areas.BikeStore.ViewModels.ProductsViewModel

<div class="m-4">
    <ul class="nav nav-tabs" id="myTab">
        <li class="nav-item">
            <a href="#products" class="nav-link active" data-bs-toggle="tab">Products</a>
        </li>
        <li class="nav-item">
            <a href="#brands" class="nav-link" data-bs-toggle="tab">Brands</a>
        </li>
        <li class="nav-item">
            <a href="#categories" class="nav-link" data-bs-toggle="tab">Categories</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="products">
            <h4 class="mt-2">Product Details</h4>
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-hover">
                        <tr>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Price</th>
                        </tr>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Brand.BrandName</td>
                                <td>@item.Category.CategoryName</td>
                                <td>@item.ListPrice</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-md-4">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="nav-item">
                            <a href="#addBrand" class="nav-link active" data-bs-toggle="tab">Add Brand</a>
                        </li>
                        <li class="nav-item">
                            <a href="#addCategory" class="nav-link" data-bs-toggle="tab">Add Category</a>
                        </li>
                    </ul>
                    <form method="post">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="addBrand">
                                <h4 class="mt-2">Add Brand</h4>
                                <div class="mb-3">
                                    <label class="form-label">Brand Name</label>
                                    <input type="text" class="form-control" name="BrandName" />
                                    <input type="submit" class="btn btn-outline-primary" value="Add New"
                                    asp-area="BikeStore" asp-controller="Product" asp-action="AddBrand" />
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="addCategory">
                                <h4 class="mt-2">Add Category</h4>
                                 <div class="mb-3">
                                    <label class="form-label">Category Name</label>
                                    <input type="text" class="form-control" name="CategoryName" />
                                    <input type="submit" class="btn btn-outline-primary" value="Add New"
                                    asp-area="BikeStore" asp-controller="Product" asp-action="AddCategory" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="brands">
            <h4 class="mt-2">Brand Details</h4>
            <table class="table table-hover">
                <tr>
                    <th>Brand Id</th>
                    <th>Brand Name</th>
                </tr>
                @foreach (var item in Model.Brands)
                {
                    <tr>
                        <td>@item.BrandId</td>
                        <td>@item.BrandName</td>
                    </tr>
                }
            </table>
        </div>
        <div class="tab-pane fade" id="categories">
            <h4 class="mt-2">Category Details</h4>
            <table class="table table-hover">
                <tr>
                    <th>Category Id</th>
                    <th>Category Name</th>
                </tr>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>